name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: SuperClean
      display-name: 'Super Clean'
      marketplace-id: CodingWithCalvin.VS-SuperClean
      description: 'Clear out bin and obj folders for all projects in your solution'
    secrets: inherit
